.App {
  text-align: center;
  background-color: black;
}

.App-header p{
  font-size: xx-large;
  text-align: right;
  margin-right:10%;
}

body{
  background-color: black;
}

.App:hover{
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍕</text></svg>")
      16 0,
    auto;
}

.main{
  /* background-color: gray; */
  background-image: url('pizzaBackground.jpg');
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  min-height: 85vh;
  margin-bottom: 5%;
}

.App-header {
  background: #1E9600;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0000, rgba(255, 255, 255, 0), #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0000, rgba(255, 255, 255, 0), #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.App-header img:hover {
  animation: rotateLogo 1s linear infinite;
}

.App-title {
  font-size: 2em;
}

input {
  padding: .5rem;
  margin: .25rem;
  width: 100%;
}

button {
  width: 100%;
  font-size: x-large;
  background-color: transparent;
  border:none;
}

.button-container{
  background-color: red;
}

.next-button {
  text-align: right;
}

form {
  margin-left: 150px;
  margin-right: 150px;
  border: 2px solid red;
}

.blur {
  background-color: rgba(255, 255, 255, 0.363);
  backdrop-filter: blur(5px);
}

.nice-table {
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  width: 100%;
}

.primary-div {
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  border-color: red;
  border-style: solid;

  animation: italia 2s infinite alternate;
}

thead {
  background: #1E9600;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0000, #FFF, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0000, #FFF, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

tr:nth-child(even) {
  background-color: rgba(157, 240, 255, 0.6);
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  background-color: red;
}

button {

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
  background-color: red;
}

button:hover {
  background-color: green;
  color: white;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤌</text></svg>")
  16 0,
auto;
}

.centered {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 200px;
}

.hflex {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(186, 102, 255);
}

@keyframes italia {
  0% {
    background-color: red;
    transform: rotate(10deg) scale(50%);
  }
  25% {
    transform: scale(250%);
  }
  75% {
    transform: scale(125%);
  }
  100% {
    background-color: green;
    transform: rotate(-10deg) scale(175%);;
  }
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}