.pizza-container {
    border-color: red;
    border-style: solid;

    width: 80vw;
    
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.pizza-container img {
    width: 35%;
}

.pizza-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pizza-text p {
    flex-grow: 4;
}

.description-container {
    background-color: rgba(66, 66, 245, 0.466);
    margin-left: 0px;
}


